go 1.26.5

use (
	.
	./adaptive
	./aerospike
	./cert
	./cert/lego
	./clickhouse
	./elasticsearch
	./email
	./etcd
	./grpcclient
	./grpcserver
	./kafka
	./log4go
	./metrics
	./minio
	./mongo
	./postgres
	./rate
	./redis
	./redislock
	./tracing
)
